.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#ui-card { align-self: center;}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-page {
  max-width: 900px;
}

.homepage {
  margin-top: 150px;
}

.nav-bar {
  height: 70px;
}

.logo {
  margin: 10px 0;
}

.candidates {
  margin-bottom: 15px;
}

.signin {
  max-width: 400px;
  margin: auto;
}

.labels {
  text-align: left;
  margin-top: 15px;
}

  /* .instrucheck {
    margin :auto;
  } */
/* .profession-container {
  margin-bottom: 15px;
} */

#headerim {
  text-align: left;
}